

<div class="container">
    <div class='row'>
        <div class='col-12'>
            <div class='row'>
                    <% @images.each do |image|%>
            <div class="col-md-3">
            <%= link_to showprofile_path(image.user.profile) do %>
               <div class='name-pic'> 
                    <img class='rounded-circle'src=<%= image.user.profile.profile_image%> width='35px' height='35px'>
                    <%= image.user.name%>
                    </div>
            <%end%>
                    <%= link_to image_path(image) do %>
                    <img class="img-thumbnail" width="300px" height="300px" src=<%= image.img%>>
                    <% end %>

                </div>    
                    <%end%>
            </div>
        </div>


    </div>
</div>

