
<%= form_for @image, url: {action: 'create'} do |f| %>

<div class="form-group">

<%= f.label :Title%>
<%= f.text_field :title, class:"form-control"%>
<br>
<%= f.label :Comment%>
<%= f.text_field :comment, class:"form-control"%>
<br>
<%= f.label :Image%>
<%= f.file_field :avatar, class:"form-control"%>

</div>
<br>
<%= f.submit 'Add', class:"btn btn-secondary"%>
<%end%>

