<img src=<%= current_user.image%> width= 100 height= 100 >
<br>
<%= current_user.name%>
<br>
<hr>

<%=link_to 'Home', images_path%>
<br>
<% if current_user.id == @image.user_id%>
<%= link_to 'Edit', edit_image_path%>
<br>
<%=link_to 'Delete', image_path(@image), method: :delete%>
<% end %>
<h1><%=@image.title%></h1>
<br>
<img src=<%=@image.img%> height="350" width="250">
<br>
<%= @image.comment%>
